# 1. 운영체제 및 IDE 파일
.DS_Store             # macOS 메타데이터 파일
.ipynb_checkpoints/   # Jupyter Notebook 임시 파일
*~                    # Emacs, Vi 등의 백업 파일

# 2. Python 환경 및 빌드 파일
__pycache__/
*.pyc
*.pyd
*.so

# Virtual Environment
venv/
env/
.venv/
.mypy_cache/

# Pip & setup.py artifacts
pip-log.txt
pip-delete-this-dir.txt
build/
dist/
*.egg-info/

# 3. 환경 변수 및 보안 키 파일
.env                  

# 4. 기타 불필요 파일
**/.gitkeep